.todolist{
 display: grid;
 grid-template-columns: auto auto auto;
 background-color:#90caf9;
 padding: 10px;
width: 50em;
margin-bottom: 25px;
border: 1px solid whitesmoke;
gap:20px
}

.item-todo{
    color: #282e29;
justify-items: auto;
background-color:#4dabf8;
padding: 20px;
border-radius: 10px;
text-align: center;
}

.item-edit{
justify-items: auto;
background-color: greenyellow;
border: 1px solid rgba(0, 0, 0, 0.8);
border-radius: 10px;
padding: 5px;
text-align: center;
}
.list-wrapper{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}