.form-wrapper {
  width: 100%;
  background-color: #90caf9;
  opacity: 0.8;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-class {
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  min-width: 450px;
}
.select {
  border-radius: 4px;
  outline: none;
  padding: 6px;
  margin: 20px;
  width: 100px;
  box-sizing: border-box;
}
.description {
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 0px dodgerblue;
}

.btn {
  display: block;
  margin: 20px 0;
  width: 160px;
  height: 60px;
  border: none;
  background-color: #00a8ff;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn2:hover {
  transform: rotateX(-15deg);
  box-shadow: 0 -8px 15px #00a8ff;
}
label {
  color: red;
}
