.form-wrapper{
    width: 100%;
    top:200px;
    display: flex;
    background-color:#90caf9;
   opacity: 0.8;
   flex-wrap: wrap;
   justify-content: center;
    align-items: center;
}
input.title[type=text]{
    border:2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}
input.description[type=text]{
    border:2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 45px;
    box-sizing: border-box;
}
input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow: 0 0 0px dodgerblue;
}

